<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/bag.svg" width="30" height="30" class="d-inline-block align-top" alt="" /> Shooping
        Lists
    </a>
</nav>
<div class="container">
    <div class="card" style="width: 18rem; margin: auto; border: none;">
        <div class="card-body">
            <h5 class="card-title">Sign In</h5>
            <p class="card-text">You won't miss a thing in your next trip to the mall.</p>

            <a style="color: white" class="btn btn-block btn-social btn-google">
                <span class="fa fa-google"></span> Sign in with Google
            </a>
        </div>
    </div>
</div>
<footer style="width: 100%; position: absolute; bottom: 0;">
    <nav class="navbar navbar-light bg-light flex-column flex-sm-row">
        <div>
            Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                CC 3.0 BY
            </a>
        </div>
    </nav>
</footer>
